body {
  
  background-color: whitesmoke;
  text-align: center; 
}
 
.heading {
  margin: 30px;
  font-size: 3rem;
  color: yellowgreen;
  
} 

.card-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;

} 

.card {
  background: white;
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  width: 300px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
  text-align: left;
  background-color: lightcyan;
}

.card-content h3 {
  margin-top: 0;
  color: black;
}

.card-content p {
  color: #555;
  font-size: 14px;
  margin: 10px 0 15px;
} 

button {
  background-color: lightsalmon ;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: black;
} 

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
